@model TestAsp.Models.Note

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Note</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoteEval)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoteEval)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateEval)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateEval)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Etudiant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Etudiant.Adresse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Matiere)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Matiere.CodeMat)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
