@model IEnumerable<TestAsp.Models.Note>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NoteEval)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateEval)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Etudiant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Matiere)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NoteEval)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateEval)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Etudiant.Adresse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Matiere.CodeMat)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
